@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Pathway+Extreme&display=swap');
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
    font-family: 'Open sans', sans-serif;
}

.tela {
    background-image: url(./imagens/FUNDOTELA3.jpg);
    background-size: cover;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 100px;
}

.content {
    width: 960px;
    height: 50%;
    justify-content: space-between;
    align-items: center;
}

.content::before {
    content: "";
    position: absolute;
    width: 40%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.title{
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
    text-shadow: 1px 1px 1px #000;
}

.title-primary {
    color: white;
    text-shadow: 1px 1px 1px #000;
}

.title-second  {
    color: white;
    text-shadow: 1px 1px 1px #000;
}
.description {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;  
    text-shadow: 1px 1px 1px #000;  
}

.description-primary {
    color: white;
}

.description-second {
    color: white;
}

.btn{
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
}

.btn-primary {
    border-radius: 15px;
    background-color: transparent;
    font-size: 10px;
    padding: 10px 50px;
    border: 1px solid #fff;
}

.btn-primary:hover {
    background-color: #fff;
    
}

.btn-second {
    border: 1px solid  white;
    background-color: transparent;
}

.btn-second:hover {
background-color: #fff;
border: 1px solid black;
color: black;

}

.first-content {
    display: flex;
}

.first-column{
    text-align: center;
    flex: 0.5 0 auto;
    z-index: 10;
}

.second-column{
    flex: 2 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media {
    margin: 1rem 0;
}

.list-social-media {
    display: flex;
    list-style-type: none;
}

.item-social-media{
    border: 1px solid black;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: black;
    }
.item-social-media:not(:first-child){
    margin-left: 10px;
}    

.item-social-media a {
    color: black;
}

.form {
    display: flex;
    flex-direction: column;
    width:  55%;
}

.form input {
    height: 45px;
    border: none;
    background-color: #ecf0f1;
    width: 100%;
}

.label-input {
    background-color: #ecf0f1;
    align-items: center;
    display: flex;
    margin: 8px;
}

.icon-modify {
    color: black;
    padding: 5px;
}

.second-content {
    position: absolute;
    display: none;
}




